*{
  box-sizing: border-box;
}
.stack{
  height: 100%;
}
.notes{
  color: yellow;
  font-weight: bold;
  font-size: 22px;
  border: 1px solid white;
  cursor: pointer;
  margin: 5px;
  display: flex;
  background-color: rgba(101, 31, 215, 0.4);

}
.notes:hover{
  box-shadow: 0.6px 0.5px 10px 1px;
  transition: .3s ease;
}

@media screen and (max-width:768px) {
  .notes{
    font-size: 20px;
    
   }
   .stack{
     width: auto;
     height: 53.5vh;
   }
}
@keyframes anime {
  from{
    color: red;
  }
  to{
    color: darkblue;
  }
}
.new-anime{
  
margin-left: 50px;
  font-size: 13px;
  animation: anime 1.2s ease infinite;
}