.background{
     
  text-align: center;
  border: 2px solid;
  height: 90vh;
   background-image: url('./images/background2.jpg');
   background-size: cover;
}
.sidenav{
  height: 100vh;
  background-color: green;
  position: relative;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.list a{
  display: block;
  padding: 6px 8px 6px 16px;
  font-size: 16px;
  color: #818181;
}
.list a:hover{
  text-decoration: underline;
  color: #f1f1f1;
  
}
.marquee{
  color:orangered;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .list a{
    font-size: 10px;
  }
}