.header{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 6px;
  
 }
 .header img{
  border: 5px solid white;
  
 }
 .title{
   display: flex;
  }
  .title h1{ 
    font-size: 0.7em;
    font-family: 'Times New Roman', Times, serif;
    color: white; 
    border-radius: 15px;
    background-color: violet; 
    margin-left: 10px;
    flex: 5;
  }
  .title h3{
    margin-top: 20px;
    color: red;
    padding: auto;
    
  }

  @media screen and (max-width:816px)  {
    .title h1{
      font-size: 0.6em;
    }
    .header img {
      height: 4em;
    }
    
  }