.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../FrontPage/images/photo2.jpeg");
  background-position: center;
  background-size: cover;
  
}
.intro-text{
  width: 100%;
  text-align: center;
  box-shadow: 4px 9px 20px 10px rgba(0, 0, 0, 0.6);
}
.title{
  font-size: 85px;
  font-weight: 500;
 
}

.subtitle{
  font-size: 25px;
  padding-top: 10px;
  margin:3px;
  background-color: goldenrod;
  opacity: .7;
  
}
.buttonContainer{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.landingbutton{
  width: 200px;
  height: 55px;
}

@media  screen and (min-width:1200px) {
  .buttonContainer{
    padding: 0 200px;
  }
  .title{
    padding: 0 200px;
  }
}

@media  screen and (max-width:768px) {
  .title{
    font-size: 60px;
  }
  .landingbutton{
    width: 150px;
    height: auto;
  }
}